@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  color: #8f3aa9;
  font-size: 16px;
}

body {
  background-color: #FFEEF6;
}

.navbar {
  background-image: url(/images/navbar.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  &__list {
    display: none;
  }

  &__title {
    font-size: 35px;
    padding-left: 20px;
  }

  &__hamburger {
    height: 80%;
    
  }

  &__hamburgerlogo {
    height: 100%;
  }
}

.intro {
  height: 80vh;
  padding-top: 80px;
  text-align: center;

  &__photo {
    height: 40%;
    // width: 35%;
    display: block;
    margin: auto;
    border-radius: 30px;
  }

  &__heading {
    margin: 15px;
    font-size: 25px;
  }

  &__para {
    width: 80%;
    margin: auto;
    padding-top: 20px;
  }
}

.projects {
  height: 90vh;
  text-align: center;
  padding-top: 20px;

  &__heading {
    font-size: 25px;
    text-align: left;
    padding-left: 40px;
  }

  &__line {
    padding: 0 20px;
    width: 100%;
  }

  &__example {
    margin: 50px 0;
    width: 250px;
    border-radius: 30px;
  }

  &__triangle1 {
    height: 30px;
  }

  &__triangle2 {
    height: 30px;
  }

  &__para {
    margin: 30px auto;
    width: 85%;
    padding-bottom: 30px;
  }

  &__link {
    border-radius: 25px;
    margin: 20px;
    padding: 15px;
    background-color: #66FEF7;
    text-decoration: none;
   
  }
}

.experience {
  height: 90vh;
  text-align: center;
  padding-top: 20px;

  &__heading {
    font-size: 25px;
    text-align: left;
    padding-left: 40px;
  }

  &__line {
    padding: 0 20px;
    width: 100%;
  }
}
