@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  color: #8f3aa9;
  font-size: 14px;
}

body {
  background-color: #FFEEF6;
}

.navbar {
  background-image: url(/images/navbar.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navbar__list {
  display: none;
}
.navbar__title {
  font-size: 30px;
  padding-left: 10px;
}
.navbar__hamburger {
  height: 80%;
}
.navbar__hamburgerlogo {
  height: 100%;
}

.intro {
  height: 80vh;
  padding-top: 80px;
  text-align: center;
}
.intro__photo {
  height: 40%;
  display: block;
  margin: auto;
  border-radius: 30px;
  box-shadow: 2px 2px 5px 2px gray;
}
.intro__heading {
  margin: 15px;
  font-size: 25px;
}
.intro__para {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}
.intro__link {
  display: none;
}

.projects {
  height: 90vh;
  text-align: center;
  padding-top: 20px;
}
.projects__heading {
  font-size: 25px;
  text-align: left;
  padding-left: 40px;
}
.projects__line {
  padding: 0 20px;
  width: 100%;
  margin-bottom: 40px;
}
.projects__example {
  width: 250px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px 2px gray;
}
.projects__div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__triangle1 {
  height: 30px;
  margin-right: 10px;
}
.projects__triangle2 {
  height: 30px;
  margin-left: 10px;
}
.projects__para {
  margin: 30px auto;
  width: 85%;
  padding-bottom: 30px;
}
.projects__link {
  border-radius: 25px;
  margin: 20px;
  padding: 15px;
  background-color: #66FEF7;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 2px 2px 5px 1px gray;
}

.experience {
  height: 80vh;
  text-align: center;
  padding-top: 20px;
}
.experience__extra {
  display: none;
}
.experience__heading {
  font-size: 25px;
  text-align: left;
  padding-left: 40px;
}
.experience__line {
  padding: 0 20px;
  width: 100%;
  margin-bottom: 40px;
}
.experience__div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience__triangle1 {
  height: 30px;
  margin-right: 10px;
}
.experience__triangle2 {
  height: 30px;
  margin-left: 10px;
}
.experience__logo {
  width: 250px;
}
.experience__para {
  margin: 50px 20px;
}
.experience__link {
  border-radius: 25px;
  margin: 20px;
  padding: 15px;
  background-color: #66FEF7;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 2px 2px 5px 1px gray;
}

.skills {
  height: 90vh;
  text-align: center;
  padding-top: 20px;
}
.skills__heading {
  font-size: 25px;
  text-align: left;
  padding-left: 40px;
}
.skills__line {
  padding: 0 20px;
  width: 100%;
  margin-bottom: 20px;
}
.skills__para {
  margin: 20px 0;
  font-size: 17px;
}
.skills__flex {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto 40px auto;
  justify-content: center;
}
.skills__logo {
  height: 50px;
  margin: 10px;
}
.skills__list {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills__item {
  margin: 5px 30px;
}

.about {
  height: 70vh;
  text-align: center;
  padding-top: 20px;
}
.about__heading {
  font-size: 20px;
  text-align: left;
  padding-left: 40px;
}
.about__line {
  padding: 0 20px;
  width: 100%;
  margin-bottom: 20px;
}
.about__para {
  width: 70%;
  margin: 20px auto 20px auto;
}
.about__buttons {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about__buttons img {
  width: 70px;
  height: 70px;
}
.about__buttons .about__cv {
  height: 70px;
  width: 60px;
}
.about__buttons .about__email {
  width: 70px;
  height: 70px;
}

.footer {
  height: 10vh;
  display: flex;
  justify-content: end;
  align-items: center;
}
.footer__link {
  border-radius: 25px;
  margin: 20px;
  padding: 15px;
  background-color: #66FEF7;
  text-decoration: none;
  font-size: 14px;
  box-shadow: 2px 2px 5px 1px gray;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .navbar__hamburger {
    display: none;
  }
  .navbar__list {
    display: flex;
    justify-content: space-around;
    width: 40vw;
    list-style-type: none;
    text-decoration: none;
  }
  .navbar__item {
    font-size: 18px;
  }

  .intro {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    height: 80vh;
  }
  .intro__link {
    display: block;
    border-radius: 25px;
    margin: 20px auto;
    padding: 15px;
    background-color: #66FEF7;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 2px 2px 5px 1px gray;
    width: 200px;
  }
  .intro__right {
    width: 50%;
  }
  .intro__photo {
    height: 60%;
  }
  .intro__para {
    font-size: 20px;
  }
  .intro__heading {
    font-size: 30px;
  }

  .projects {
    height: 100vh;
  }
  .projects__example {
    width: 500px;
    border-radius: 50px;
  }
  .projects__triangle1 {
    height: 80px;
    margin-right: 20px;
  }
  .projects__triangle2 {
    height: 80px;
    margin-left: 20px;
  }
  .projects__para {
    width: 500px;
    font-size: 20px;
  }

  .experience {
    height: 130vh;
  }
  .experience__extra {
    display: block;
  }
  .experience__triangle1 {
    display: none;
  }
  .experience__triangle2 {
    display: none;
  }
  .experience__lloyds {
    display: flex;
    align-items: center;
    margin: 20px 100px;
  }
  .experience__anixter {
    display: flex;
    align-items: center;
    margin: 20px 100px 50px;
  }
  .experience__nology {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 20px 100px;
  }
  .experience__logo {
    height: 130px;
  }
  .experience__para {
    font-size: 20px;
  }

  .skills__para {
    font-size: 20px;
    margin: 50px 0;
  }
  .skills__item {
    font-size: 18px;
  }
  .skills__list {
    width: 500px;
  }

  .about {
    height: 90vh;
  }
  .about__para {
    font-size: 20px;
    margin: 50px auto;
    width: 600px;
  }
  .about__buttons {
    width: 50%;
  }
}