@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  color: #8f3aa9;
  font-size: 14px;
}

body {
  background-color: #FFEEF6;
}

.navbar {
  background-image: url(./images/navbar.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  &__list {
    display: none;
  }

  &__title {
    font-size: 30px;
    padding-left: 10px;
  }

  &__hamburger {
    height: 80%;
    
  }

  &__hamburgerlogo {
    height: 100%;
  }
}

.intro {
  height: 80vh;
  padding-top: 80px;
  text-align: center;

  &__photo {
    height: 40%;
    // width: 35%;
    display: block;
    margin: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 5px 2px gray;
  }

  &__heading {
    margin: 15px;
    font-size: 25px;
  }

  &__para {
    width: 80%;
    margin: auto;
    padding-top: 10px;
  }

  &__link {
    display: none;
  }
}

.projects {
  height: 90vh;
  text-align: center;
  padding-top: 20px;

  &__heading {
    font-size: 25px;
    text-align: left;
    padding-left: 40px;
  }

  &__line {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 40px;
  }

  &__example {
    width: 250px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px 2px gray;
  }

  &__div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__triangle1 {
    height: 30px;
    margin-right:10px;
  }

  &__triangle2 {
    height: 30px;
    margin-left: 10px;
  }

  &__para {
    margin: 30px auto;
    width: 85%;
    padding-bottom: 30px;
  }

  &__link {
    border-radius: 25px;
    margin: 20px;
    padding: 15px;
    background-color: #66FEF7;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 2px 2px 5px 1px gray;
   
  }
}

.experience {
  height: 80vh;
  text-align: center;
  padding-top: 20px;

  &__extra {
    display: none;
  }

  &__heading {
    font-size: 25px;
    text-align: left;
    padding-left: 40px;
  }

  &__line {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 40px;
  }
  
  &__div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__triangle1 {
    height: 30px;
    margin-right: 10px;
  }

  &__triangle2 {
    height: 30px;
    margin-left: 10px;
  }

  &__logo {
    width: 250px;
  }

  &__para {
    margin: 50px 20px;
  }

  &__link {
    border-radius: 25px;
    margin: 20px;
    padding: 15px;
    background-color: #66FEF7;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 2px 2px 5px 1px gray;
  }
}

.skills {
  height: 90vh;
  text-align: center;
  padding-top: 20px;

  &__heading {
    font-size: 25px;
    text-align: left;
    padding-left: 40px;
  }

  &__line {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 20px;
  }

  &__para {
    margin: 20px 0;
    font-size: 17px;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto 40px auto;
    justify-content: center;
  }

  &__logo {
    height: 50px;
    margin: 10px;
  }

  &__list {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    margin: 5px 30px;
  }  
}

.about {
  height: 90vh;
  text-align: center;
  padding-top: 20px;

  &__heading {
    font-size: 20px;
    text-align: left;
    padding-left: 40px;
  }

  &__line {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 20px;
  }

  &__para {
    width: 70%;
    margin: 20px auto 20px auto;
  }

  &__buttons{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-around;

    img {
      width: 70px;
      height: 70px;
    }

    .about__cv {
      height: 70px;
      width: 60px;
    }

    .about__email {
      width: 70px;
      height: 70px;
    }

  }
}

.footer {
  height: 10vh;
  display: flex;
  justify-content: end;
  align-items: center;
  &__link {
    border-radius: 25px;
    margin: 20px;
    padding: 15px;
    background-color: #66FEF7;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 2px 2px 5px 1px gray;
    width: 100px;
  }
}

@media screen and (min-width: 768px) {


  .navbar {

    &__hamburger {
      display: none;
    }

    &__list {
      display: flex;
      justify-content: space-around;
      width: 40vw;
      list-style-type: none;
      text-decoration: none;
    }

    &__item {
      font-size: 18px;
    }
  }

  .intro {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    height: 80vh;

    &__link {
      display: block;
      border-radius: 25px;
      margin: 20px auto;
      padding: 15px;
      background-color: #66FEF7;
      text-decoration: none;
      font-size: 18px;
      box-shadow: 2px 2px 5px 1px gray;
      width: 200px;
    }
    &__right {
      width: 50%;
    }
    &__photo {
      height: 60%;
    }
    &__para {
      font-size: 20px;
    }
    &__heading{
      font-size: 30px;
    }
  }

  .projects {
    height: 100vh;
    &__heading {
      font-size: 35px;
    }

    &__example {
      width: 500px;
      border-radius: 50px;
    }
    &__triangle1 {
      height: 80px;
      margin-right:20px;
    }
  
    &__triangle2 {
      height: 80px;
      margin-left: 20px;
    }

    &__para {
      width: 500px;
      font-size: 20px;
    }
  }

  .experience {
    height: 130vh;
    &__heading {
      font-size: 35px;
    }
  
    &__extra {
      display: block;
    }
    &__triangle1 {
      display: none;
    }
    &__triangle2 {
      display: none;
    }
   &__lloyds {
     display: flex;
     align-items: center;
     margin: 20px 100px;
   }
   &__anixter {
    display: flex;
    align-items: center;
    margin: 20px 100px 50px;
   }
   &__nology {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 20px 100px;
   }
   &__logo {
     height: 130px;
   }
   &__para {
     font-size: 20px;
   }
  }

  .skills {
    &__heading {
      font-size: 35px;
    }
    &__para {
      font-size: 20px;
      margin: 50px 0;
    }
    &__item {
      font-size: 18px;
    }
    &__list {
      width: 500px;
    }
  }

  .about {
    height: 90vh;
    &__heading {
      font-size: 35px;
    }
    &__para {
      font-size: 20px;
      margin: 50px auto;
      width: 600px;
    }
    &__buttons {
      width: 50%;
    }
  }
}