@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  color: #8f3aa9;
  font-size: 14px;
}

body {
  background-color: #FFEEF6;
}

.navbar {
  background-image: url(/images/navbar.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navbar__list {
  display: none;
}
.navbar__title {
  font-size: 30px;
  padding-left: 10px;
}
.navbar__hamburger {
  height: 80%;
}
.navbar__hamburgerlogo {
  height: 100%;
}

.intro {
  height: 80vh;
  padding-top: 80px;
  text-align: center;
}
.intro__photo {
  height: 40%;
  display: block;
  margin: auto;
  border-radius: 30px;
}
.intro__heading {
  margin: 15px;
  font-size: 25px;
}
.intro__para {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.projects {
  height: 90vh;
  text-align: center;
  padding-top: 20px;
}
.projects__heading {
  font-size: 25px;
  text-align: left;
  padding-left: 40px;
}
.projects__line {
  padding: 0 20px;
  width: 100%;
  margin-bottom: 40px;
}
.projects__example {
  width: 250px;
  border-radius: 30px;
}
.projects__triangle1 {
  height: 30px;
}
.projects__triangle2 {
  height: 30px;
}
.projects__para {
  margin: 30px auto;
  width: 85%;
  padding-bottom: 30px;
}
.projects__link {
  border-radius: 25px;
  margin: 20px;
  padding: 15px;
  background-color: #66FEF7;
  text-decoration: none;
  font-size: 18px;
}

.experience {
  height: 80vh;
  text-align: center;
  padding-top: 20px;
}
.experience__heading {
  font-size: 25px;
  text-align: left;
  padding-left: 40px;
}
.experience__line {
  padding: 0 20px;
  width: 100%;
  margin-bottom: 40px;
}
.experience__triangle1 {
  height: 30px;
}
.experience__triangle2 {
  height: 30px;
}
.experience__logo {
  width: 250px;
}
.experience__para {
  margin: 50px 20px;
}
.experience__link {
  border-radius: 25px;
  margin: 20px;
  padding: 15px;
  background-color: #66FEF7;
  text-decoration: none;
  font-size: 18px;
}

.skills {
  height: 80vh;
  text-align: center;
  padding-top: 20px;
}
.skills__heading {
  font-size: 25px;
  text-align: left;
  padding-left: 40px;
}
.skills__line {
  padding: 0 20px;
  width: 100%;
  margin-bottom: 20px;
}
.skills__para {
  margin: 20px 0;
}
.skills__flex {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto 40px auto;
  justify-content: center;
}
.skills__logo {
  height: 50px;
  margin: 10px;
}
.skills__list {
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.skills__item {
  margin: 5px 30px;
}

.about {
  height: 80vh;
  text-align: center;
  padding-top: 20px;
}
.about__heading {
  font-size: 20px;
  text-align: left;
  padding-left: 40px;
}
.about__line {
  padding: 0 20px;
  width: 100%;
  margin-bottom: 20px;
}
.about__para {
  width: 70%;
  margin: 20px auto 20px auto;
}
.about__buttons {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-areas: "github email" "connect cv";
}
.about__link1 {
  grid-area: github;
  border-radius: 30px;
  margin: 20px;
  padding: 15px;
  background-color: #66FEF7;
  text-decoration: none;
  font-size: 15px;
}
.about__link2 {
  grid-area: email;
  border-radius: 30px;
  margin: 20px;
  padding: 15px;
  background-color: #66FEF7;
  text-decoration: none;
  font-size: 15px;
}
.about__link3 {
  grid-area: connect;
  border-radius: 30px;
  margin: 20px;
  padding: 15px;
  background-color: #66FEF7;
  text-decoration: none;
  font-size: 15px;
}
.about__link4 {
  grid-area: cv;
  border-radius: 30px;
  margin: 20px;
  padding: 15px;
  background-color: #66FEF7;
  text-decoration: none;
  font-size: 15px;
}